<IfModule mod_rewrite.c>
  RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond $1 !^(_cms\.php|assets|wp-content|wp-import.php|work-import.php)
RewriteCond %{REQUEST_URI} !\.(pdf|mp4|mp3|jpg|png)$
RewriteRule ^(.*)$ _cms.php/?%{QUERY_STRING}&node=$1 [L]
</IfModule>
